/* Mobile First */

* {
  box-sizing: border-box;
}

body {
	font-family: 'Lato', sans-serif;
    margin: 0;
}

#container {
	width: 100%;
	/*border-radius: 20px;*/
	margin: 0 auto;
    padding-bottom: 20px;
}

#header {
	height: 140px;
    width: auto;
    margin-top: -20px;
	text-align: center;
    background: url(../img/bkg_img21.jpeg) no-repeat;
    background-blend-mode: multiply;
    background-size: cover;
    margin-bottom: 60px;
}

#header h1 {
    font-family: 'Courgette', cursive;
    font-size: 1.8em;
	color: #fff;
	padding-top: 50px;
    text-transform: uppercase;
    letter-spacing: .2em;
}

#add_form {
	width: 80%;
    background: white;
    overflow: hidden;
    display: flex;
    border-radius: .2em;
    border: solid 4px white;
    box-shadow: 0 1px 14px rgba(0,0,0, .6);
    margin: 20px auto 0;
    z-index: 3000;
    position: relative;
}

#new_task {
	padding: 10px;
    font-size: 1em;
    width: 100%;
    border: none;
    outline: none;
    background: #fff;
    font-family: 'Lato', sans-serif;
}

#add_btn, #clear_btn {
	font-weight: 600;
	border: none;
	text-transform: uppercase;
    font-family: 'Lato', sans-serif;
    font-size: .8em;
}

#add_btn {
    color: #fff;
	background-color: darkturquoise;
	padding: 0px 30px;
	border-radius: 5px;
}

#add_btn:hover {
    background-color: turquoise;
}

#filter_form {
	text-align: center;
	width: 95%;
	margin: auto;
	display: flex;
	flex-direction: column;
}

#filter_form h2 {
    font-family: 'Courgette', cursive;
	font-size: 1.5em;
/*	padding-top: 50px;*/
	font-weight: 400;
	color: darkslategrey;
	margin-bottom: 20px;
	-webkit-margin-before: 0;
}

#filter_tasks {
	font-size: 1em;
    font-family: 'Lato', sans-serif;
/*	margin-bottom: 20px;*/
	padding: 12px;
    width: 100%;
    border: none;
    border-bottom: 2px solid lightgrey;
    outline: none;
    background-color: #fff;	
}

#filter_tasks:focus {
	border-bottom: 2px solid darkturquoise;
}

#clear_btn {
	width: 150px;
	align-self: center;
	background-color: #3f3f3f;
	color: #fff;
	padding: 10px 20px;
	border-radius: 15px;
    box-shadow: 0 0 20px rgba(0,0,0, .8);
}

#clear_btn:hover {
    background-color: grey;
}

/* Tasks List */

ul {
    margin: 0 0 30px 0;
    padding: 0;
    display: flex;
    flex-direction: column;
}

ul li {
	display: flex;
	justify-content: space-between;
    cursor: pointer;
    position: relative;
    padding: 10px 15px;
    text-align: left;
    background-color: #fff;
    font-size: 1em;
    font-family: 'Lato', sans-serif;
    color: #4f4f4f;
    font-weight: 500;
    border: 1px solid lightgrey;
    margin-bottom: -1px;
    transition: 0.2s;
    list-style-type: none;
    user-select: none;
}

ul  li  span {
	margin-right: auto;
    align-self: center;
}

ul li button {
	background-color: darkturquoise;
    border: none;
    padding: 5px 10px;
    color: #fff;
    font-size: .8em;
    border-radius: 5px;
    font-weight: 600;
}

ul li button:hover {
    background-color: turquoise;
}

ul li button:last-child {
    background-color: darkslategrey;
    margin-left: 10px;
}

ul li button:last-child:hover {
    background-color: grey;
}

ul li.checked span {
  margin-left: 15px;
}

ul li.checked::before {
  content: '';
  position: absolute;
  border-style: solid;
  border-width: 0 2px 2px 0;
  top: 16px;
  left: 14px;
  transform: rotate(45deg);
  height: 10px;
  width: 5px;
}

/* Media Queries */

@media (min-width: 500px) {
    #header {
        height: 190px;
    }

    #add_form h1 {
        font-size: 2em;
        padding-top: 75px;
    }

    #add_form {
        margin: 80px auto 0;
    }
}

@media (min-width: 700px) {

    body {
        margin-top: 70px;
    }

    #container {
        width: 90%;
        border-radius: 20px;
        box-shadow: 0 0 26px rgba(0,0,0, 1);
    }

    #header {
        border-top-left-radius: 20px;
        border-top-right-radius: 20px;
    }
}

@media (min-width: 800px) {
    #container {
        width: 80%;
    }
}
@media (min-width: 970px) {
    #container {
        width: 70%;
    }

    #header {
        height: 200px;
    }

    #header h1 {
        font-size: 2.5em;
        padding-top: 75px;
    }

    #new_task {
        padding: 12px;
        font-size: 1.2em;
    }

    #add_form {
        margin: 50px auto 0;
    }

    #add_btn, #clear_btn {
        font-size: 1em;
    }

    #filter_form h2 {
        font-size: 2em;
    }

    #filter_tasks {
        font-size: 1.2em;
    }

    ul li {
        font-size: 1.2em;
    }
}

@media (min-width: 1150px) {
    #container {
        width: 60%;
    }
}*/